@charset "ISO-8859-1";

html {
	font-size: 1rem;
}

@include media-breakpoint(sm) {
	font-size: 1.2rem;
}

@include media-breakpoint(md) {
	font-size: 1.4rem;
}

@include media-breakpoint(lg) {
	font-size: 1.6rem;
}

@include media-breakpoint(xl) {
	font-size: 1.8rem;
}

.baby-buffer {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.brand-text {
	font-size: 40px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.check-buffer {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.content-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-col {
	height: 100%;
}

.fixed {
	position: fixed;
}

.form-buffer {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

@media (min-height: 1px) {
	.form-col {
		height: 100%;
		background: white
	}
}

@media (min-height: 666px) {
	.form-col {
		height: 100vh;
		background: white
	}
}

.form-control {
	border-style: none none solid none;
}

.form-control .invalid {
	border-color: #FF0000;
}

.inline {
	display: inline;
}

.indented {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
	margin-left: 1em;
}

.indented-2 {
	margin-left: 3em;
}

.indented-3 {

}

.nav-height {
	height: 15vh;
}

.nav-image {
	height: 70px;
}

.no-flickr {
	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.top-buffer {
	padding-top: 5%;
	padding-bottom: 5%;
}

.wallOfText {
	background: white;
	padding: 2%;
}

@media (min-width: 576px) {
	.vertical-center {
		position: relative;
		center: 50%;
		transform: translateY(190%);
	}
	.horizontal-padding {
		padding-left: 12.5%;
	}
}

@media (min-width: 768px) {
	.vertical-center {
		position: relative;
		center: 50%;
		transform: translateY(45%);
	}
	.horizontal-padding {
		padding-left: 5%;
	}
}

@media (min-width: 992px) {
	.vertical-center {
		position: relative;
		center: 50%;
		transform: translateY(10%);
	}
	
	.horizontal-padding {
		padding-left: 1%;
	}
}

.yes-scroll {
	overflow-y: scroll;
}

.on-white {
	color: green;
}

.with-chapters {
	counter-reset: chapter;
}

.nested-list {
	counter-reset: item;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: table;
}

.rule-chapter:before {
	content: counter(chapter) ".";
	counter-increment: chapter;
}

.element-with-chapter {
	list-style: none;
	display: table-row;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.element-with-chapter:before {
	content: counter(chapter) "." counter(item) ".";
	counter-increment: item;
	display: table-cell;
	text-align: right;
	padding-right: .3em
}
